* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background: #417e82;
    color: white;
}

body {
    min-height: 100vh;
    letter-spacing: 1px;
}

a {
    color: black;
}

h2 {
    font-family: "Lora";
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 2.5%;
}

p {
    font-size: 17px;
    line-height: 1.5em;
    padding-top: 0.5em;
}



h1, p {
    font-family: "Lora";

}

.body {
    padding-top: 1%;
    margin: 0 auto;
    flex-shrink: 0;
    max-width: 60%;
}

@media (min-device-height: 100px) {
    .body {
        padding-bottom: 5%;
    }
}

.body > .navigation_bar {
    color: black;
    padding: 3em 1em 5em 1em;
    flex-shrink: 1;
}

.body > .navigation_bar > .navigation_bar-wrapper {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.body > .navigation_bar > .navigation_bar-wrapper > .navigation_bar-banner {
    display: flex;
    padding: 15px;
    font-weight: 500;
}

.body > .navigation_bar > .navigation_bar-wrapper > .navigation_bar-banner > h2 {
    border-radius: 15px;
    padding: 15px;
}

.body > .navigation_bar > .navigation_bar-wrapper > .navigation_bar-menu {
    display: flex;
    justify-content: flex-end;
}

.body > .navigation_bar > .navigation_bar-wrapper > .navigation_bar-menu > ul {
    display: flex;
    list-style: none;
    
}


.body > .navigation_bar > .navigation_bar-wrapper > .navigation_bar-menu > ul > li {
    padding: 15px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

.body > .navigation_bar > .navigation_bar-wrapper > .navigation_bar-menu > ul > li > a {
    text-decoration: none;
    font-family: "Lora";
    font-size: 15px;
    font-weight: 900;
    color: black;
}

.body > .centered {
    
    width: 100%;
    flex-grow: 1;

}

@media (min-device-width: 568px) and (max-device-width: 1200px) {

    .body > .centered {
    
              width: 100%;
              flex-grow: 1;
    
          }
        }

.body > .centered > .info_box {
   padding-top: 7%;
   padding-bottom: 7%;
}

.body > .centered > .works {
    padding-bottom: 10%;
}

.body > .centered > .contact > .contact_box-wrapper {
    border-top: 1px solid #bababa;
    padding-top: 5%;
}

.body > .centered > .section {
    padding: 5% 0% 6% 0%;
}
    

.body > .centered > .works > .works_box-wrapper > .tech-icons {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.body > .centered > .works > .works_box-wrapper > .tech-icons > p {

     margin: 0% 2% 0% 0%;

}

.body > .centered > .contact {
    margin-top: 10%;
}

.body > .centered > .contact > .contact_box-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-family: "Raleway";
}

.body > .centered > .contact > .contact_box-wrapper > .text {

    max-width: 35%;

}

.body > .centered > .contact > .contact_box-wrapper > .column-left > .icons { 
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    border-bottom: 1px solid #bababa;
}

.body > .centered > .contact > .contact_box-wrapper > .column-left > .icons > * { 
    margin: 0% 3% 0% 3%;
}

@media (min-width: 100px) and (max-width: 650px) {

    .body > .centered > .contact > .contact_box-wrapper > .text {

        max-width: 90%;
        padding-top: 5%;
    
    }


    .body > .centered > .contact > .contact_box-wrapper {
        padding-top: 10%;
    }
}

/* ---- vv - for icons ----- */
@media (min-width: 100px) and (max-width: 1200px) {
    .body > .centered > .contact > .contact_box-wrapper > .column-left {
        margin: 0 auto;
    }
 }

@media (max-width: 1150px){
    
    .body {
        min-width: 80%;
    }
.body > .navigation_bar {
        padding-top: 1em;
    }
    
.body > .centered {
        flex-shrink: 0;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding-top: 5%;
    }
    
    .body > .centered > .section {
        padding: 5% 0% 5% 0%;
    }

.body > .navigation_bar > .navigation_bar-wrapper {
        margin: 0 auto;
        flex-direction: column;
    }
    

    .body > .centered > .contact {
        padding-top: 4%;
    }

.body > .centered > .contact > .contact_box-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .body > .centered > .contact > .contact_box-wrapper > .text {
        margin: 0 auto;
        width: 70%;
    }

    
.body > .centered > .contact > .contact_box-wrapper > .text > p {
        font-size: 15px;
        text-align: center;
    }
}
