* {

   padding: 0;
   margin: 0;
   font-family: "Scope One";
   box-sizing: border-box;

}

 body {

   background: #f7f7f7;   
   height: 100%;
   grid-template-columns: repeat(7, 300px);
   grid-template-rows: 400px 400px 200px 200px 200px 200px;
} 

.main-navbar {

   color: #7936d1;
   display: grid;
   height: 7em;
   grid-row-start: 1;
   grid-template-columns: 300px 300px 300px 300px 300px;
   grid-template-rows: 100px 100px;
   grid-template-columns: minmax(300px, 300px);
   align-items: center;
   border-bottom: 1px solid #d0d3d8;

}

#onetwothree {

  text-decoration-color: yellow;

}

.main-navbar > .banner {

   font-size: 40px;
   text-align: left;
   font-weight: bolder;
   grid-column-start: 2;
   width: 2em;

}

.main-navbar > .navbar-items {

   grid-row-start: 1;
   display: inline-block;
   grid-column-start: 6;
   text-align: left;
   padding: 0.5em;


}

.main-navbar > .navbar-items > ul {

   
   display: inline-flex;
   list-style: none;
}

.main-navbar > .navbar-items > ul > li {

   text-decoration: none;
   font-size: 20px;
   padding: 0px 60px 0px 60px;

}

.main-navbar > .navbar-items > ul > li  > a {

  color: #7936d1;
  font-weight: bold;

}
.main-section {

   display: grid;
   grid-template-columns: minmax(300px, 350px) 1fr 1fr 1fr 1fr;
   grid-template-rows: 

}