* {

   margin: 0;
   padding: 0;

}

.main {

   height: 61em;
   width: 100%;
   background-color: greenyellow;


}

h1, h2, h3, h4, h5, h6 {

   justify-content: center;
   text-align: center;

}

.main-wrapper {

   padding-top: 20em;
   margin: 0 auto;
   display: block;
   width: 100%;
   text-align: center;

}

.block-1, .block-2 {
   
   margin: 0 auto;
   width: 30%;

}

.main-and-only-footer-lol {

  background-color: black;
  color: white;
  height: 20em;

}

.footer-content-wrapper {

   width: 10%;
   padding-top: 10em;
   display: inline-flex;
   padding-left: 30em;

}

.column-1, .column-2, .column-3 {

   padding-right: 3em;
   align-items: center;
   justify-content: center;

}

/* responsive */

@media (max-width: 600px) {
   


 }